:root{
    --dark-bg: #111;
    --light-text: #eee;

    --light-bg: #fefefe;
    --dark-text: #222;
}

body {
    margin: 0;
    font-family: "Press Start 2P";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--light-bg);
    color: var(--dark-text);
    transition: 0.3s;
}

body.dark {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.clock-container{
    text-align: center;
    padding: 1.5rem;
    border-radius: 25px;
}


#clock {
    font-size: 4rem;
    letter-spacing: 3px;
}

.date-display {
    margin-top: 20px;
    color: #888;
}

body.dark .date-display{
    color: #aaa;
}

.btn {
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    background-color: #e67e22;
    margin: 1rem;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
}

.blinker {
    animation: blink 1s steps(2, start) infinite;
}

.pixel-effect{
    animation: pixel-glitch 0.4s ease;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pixel-glitch {
    0% {filter: contrast(1.5) brightness(1.2); transform: scale(1);}
    25% {filter: contrast(2) brightness(0.8); transform: scale(1.02);}
    0% {filter: contrast(1) brightness(1.5); transform: scale(0.98);}
    0% {filter: contrast(2) brightness(0.9); transform: scale(1.01);}
    0% {filter: none; transform: scale(1);}
}