:root {
    --bg: #fefefe;
    --text: #222;
    --date: #888;
    --btn-border: black;
    --btn-shadow: #00000038;
}

body {
    margin: 0;
    font-family: "Press Start 2P";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

body.dark {
    --bg: #111;
    --text: #eee;
    --date: #aaa;
    --btn-border: #eee;
    --btn-shadow: rgb(82, 82, 82);

    background-color: var(--bg);
    color: var(--text);
}

.clock-container {
    text-align: center;
    padding: 1.5rem;
    border-radius: 25px;
}

#clock {
    font-size: 4rem;
    letter-spacing: 3px;
}

.date-display {
    margin-top: 20px;
    color: var(--date);
}

.alarm-container{
    text-align: center;
}

.alarm-container input{
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-align: center;
    border: 0;
    box-shadow: 0px 5px var(--btn-border),
        0px -5px var(--btn-border),
        5px 0px var(--btn-border),
        -5px 0px var(--btn-border),
        0px 10px var(--btn-shadow),
        5px 5px var(--btn-shadow),
        -5px 5px var(--btn-shadow),
        inset 0px 5px #ffffff36;
}

.btn {
    color: inherit;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: #e67e22;
    margin: 1rem;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 5px var(--btn-border),
        0px -5px var(--btn-border),
        5px 0px var(--btn-border),
        -5px 0px var(--btn-border),
        0px 10px var(--btn-shadow),
        5px 5px var(--btn-shadow),
        -5px 5px var(--btn-shadow),
        inset 0px 5px #ffffff36;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 5px var(--btn-border),
        0px -5px var(--btn-border),
        5px 0px var(--btn-border),
        -5px 0px var(--btn-border),
        inset 0px 5px #00000038;
}


.blinker {
    animation: blink 1s steps(2, start) infinite;
}

.pixel-effect {
    animation: pixel-glitch 0.4s ease;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pixel-glitch {
    0% {
        filter: contrast(1.5) brightness(1.2);
        transform: scale(1);
    }

    25% {
        filter: contrast(2) brightness(0.8);
        transform: scale(1.02);
    }

    0% {
        filter: contrast(1) brightness(1.5);
        transform: scale(0.98);
    }

    0% {
        filter: contrast(2) brightness(0.9);
        transform: scale(1.01);
    }

    0% {
        filter: none;
        transform: scale(1);
    }
}